<a
  aria-haspopup='dialog'
  aria-controls='cart-drawer-dialog'
  href='{{ routes.cart_url }}'
  class='inline-flex place-items-center relative'
  id='cart-icon-bubble'
>
  {%- liquid
    render 'icon' with 'c-icon-cart', size: 20
  -%}
  <span class='sr-only'>{{ 'templates.cart.cart' | t }}</span>
  <div class='empty:hidden absolute inline-flex items-center justify-center text-center text-xs leading-none left-full w-[18px] h-[18px] bg-p-primary text-white rounded-full'>
    {%- render '@needs-script', entries: 'component-cart-total' -%}
    <cart-total
      translation='{ "cart_count": {{ 'sections.header.cart_count' | t: count: '###count###' | json }} }'
    >
      <span class='sr-only'>{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
    </cart-total>
  </div>
</a>
