<nav aria-label='Breadcrumb' class='flex items-center text-[14px]'>
  <ol class="[&_li_+_li]:before:content-['/'] flex items-center gap-[7px]">
    {%- if collection.url -%}
      <li class='inline'>
        {{ collection.title | link_to: collection.url }}
      </li>
    {%- elsif product.type != blank -%}
      <li class="'inline">
        {{ product.type }}
      </li>
    {%- endif -%}
    <li class='inline'>
      <a class='pointer-events-none font-bold' href='{{ product.url }}' aria-current='page'>{{ product.title }}</a>
    </li>
  </ol>
</nav>
