{% assign enable_search_page = false %}

{%- liquid
  assign input_placeholder = 'general.search.search' | t
-%}
{%- render '@needs-script', entries: 'predictive-search' -%}
<predictive-search data-loading-text='{{ 'accessibility.loading' | t }}'>
  <form
    action='{{ routes.search_url }}'
    method='get'
    role='search'
    data-form='{{ input_id }}'
    class='grow'
  >
    <div class='container lg:min-w-[600px] p-md flex items-center gap-[15px]' autofocus>
      {% assign escaped_search_terms = search.terms | escape %}

      {% capture input_attributes %}
        role='combobox'
        aria-expanded='false'
        aria-owns='predictive-search-results'
        aria-controls='predictive-search-results'
        aria-haspopup='listbox'
        aria-autocomplete='list'
        autocorrect='off'
        autocomplete='off'
        autocapitalize='off'
        spellcheck='false'
      {% endcapture %}

      {%- render 'form-field',
        placeholder: input_placeholder,
        kind: 'input',
        name: 'q',
        id: input_id,
        label: input_placeholder,
        type: 'search',
        value: escaped_search_terms,
        autocomplete: 'off',
        attributes: input_attributes,
        wrapper_class: 'w-full',
        icon_class: 'w-full py-[10px] text-sm border-b rounded-none bg-[transparent] focus-visible:ring-u-focus focus-visible:ring-2 placeholder:text-t-brand-secondary-contrast'
      -%}

      {% if enable_search_page %}
        <button data-search-submit type='submit' class='flex align-middle'>
          <span>{% render 'icon' with 'icon-search', size: 18 %}</span>
          <span class='sr-only'>{{ 'general.search.search' | t }}</span>
        </button>
      {% endif %}
    </div>

    <div class='overflow-y-auto' tabindex='-1' data-predictive-search>
      {% comment %} {% render 'icon' with 'icon-spinner', size: 18 %} {% endcomment %}
    </div>

    <span id='predictive-search-status' class='visually-hidden' role='status' aria-hidden='true'></span>

    <input type='hidden' name='options[prefix]' value='last'>
  </form>
</predictive-search>
