{%- assign current_cart_subtotal = cart.total_price | divided_by: 100 -%}
{%- assign free_shipping_threshold = block.settings.minimum_cart_subtotal_for_free_shipping -%}
{%- assign remaining_amount = free_shipping_threshold | minus: current_cart_subtotal -%}

{%- assign threshold_reached = false -%}
{%- if current_cart_subtotal >= free_shipping_threshold -%}
  {%- assign threshold_reached = true -%}
{%- endif -%}
{%- assign remaining_amount = remaining_amount | times: 100 | money -%}

{%- if block.settings.enable_free_shipping -%}
  <p class="px-[15px] py-[5px] bg-p-lightest text-center">
    {% if threshold_reached %}
      {{ 'cart.general.free_shipping_reached' | t }}
    {% else %}
      {{ 'cart.general.free_shipping_remaining' | t: amount: remaining_amount }}
    {% endif %}
  </p>
{%- endif -%}

{% schema %}
{
  "name": "Free Shipping Progress",
  "tag": null,
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_free_shipping",
      "label": "Enable free shipping"
    },
    {
      "type": "number",
      "id": "minimum_cart_subtotal_for_free_shipping",
      "label": "Free shipping threshold",
      "default": 0,
      "info": "Set the minimum subtotal for free shipping",
      "visible_if": "{{ block.settings.enable_free_shipping == true }}"
    }
  ],
  "presets": [
    {
      "name": "Free Shipping Progress"
    }
  ]
}
{% endschema %}
