<div class='px-pagemargin 2xl:container py-[50px]'>
  {% capture slides %}
    {% for product in section.settings.collection.products, limit: section.settings.products_to_show %}
      <swiper-slide class='flex-none h-auto justify-center px-2'>
        {% render 'product-card',
          product: product,
          media_aspect_ratio: 'square',
          lazy_load: true,
          height: 500,
          width: 400,
          class: 'h-full'
        %}
      </swiper-slide>
    {% endfor %}
  {% endcapture %}
  {% render 'c-carousel'
    , slides: slides
    , arrows: 'center'
    , slides_per_view_mobile: 2
    , slides_per_view_desktop: 4 %}
</div>

{% schema %}
  {
    "name": "Featured Collection",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "inline_richtext",
        "id": "title",
        "default": "Featured Collection",
        "label": "Heading"
      },
      {
        "type": "select",
        "id": "heading_size",
        "options": [
          {
            "value": "!h1",
            "label": "H1"
          },
          {
            "value": "!h2",
            "label": "H2"
          },
          {
            "value": "!h3",
            "label": "H3"
          },
          {
            "value": "!h4",
            "label": "H4"
          }
        ],
        "default": "!h2",
        "label": "Heading Size"
      },
      {
        "type": "richtext",
        "id": "description",
        "label": "Description"
      },
      {
        "type": "checkbox",
        "id": "show_description",
        "label": "Show Description From Collection",
        "default": false
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      },
      {
        "type": "range",
        "id": "products_to_show",
        "min": 2,
        "max": 25,
        "step": 1,
        "default": 4,
        "label": "Number of Products to Show"
      }
    ],
    "presets": [
      {
        "name": "Featured Collection",
        "category": "Custom"
      }
    ]
  }
{% endschema %}