{%- render '@needs-script', entries: 'core-cart-sections' -%}
<div class='px-pagemargin 2xl:container'>
  <cart-sections
    section-id='{{ section.id }}'
    id='{{ section.id }}'
  >
    <div class='grid lg:grid-cols-4 gap-[40px] lg:gap-[20px] lg:[&>*:first-child]:col-span-3 lg:py-[50px] py-[20px]'>
      {%- if cart == empty -%}
        <div class='grid grid-cols-1 gap-[20px]'>
          <h1 class='text-body'>{{ 'cart.general.empty' | t }}</h1>
          <p class='rte'>{{ 'cart.general.continue_shopping_html' | t }}</p>
        </div>
      {%- else -%}
        {%- content_for 'blocks' -%}
      {%- endif -%}
    </div>
  </cart-sections>
</div>

{% schema %}
{
  "name": "Cart",
  "enabled_on": {
    "templates": ["cart"]
  },
  "settings": [],
  "blocks": [{ "type": "_main-cart-items" }, { "type": "_main-cart-footer" }]
}
{% endschema %}
