{% assign valid_tags = 'marinespec-bp,marinespec-sp,marinespec-mp,milspec65' %}
{% assign product_has_valid_tag = false %}

{% for tag in product.tags %}
  {% if valid_tags contains tag %}
    {% assign product_has_valid_tag = true %}
    {% break %}
  {% endif %}
{% endfor %}

{% if product_has_valid_tag %}
  {% if product.tags contains 'marinespec-mp' %}
    {% assign spec_image = shop.metafields.globals.marine_spec_image %}
    {% assign material_graph = shop.metafields.globals.marine_spec_material_graph %}
    {% assign material_name = shop.metafields.globals.marine_spec_material_name %}
    {% assign material_description = shop.metafields.globals.marine_spec_material_description %}
  {% elsif product.tags contains 'marinespec-sp' %}
    {% assign spec_image = shop.metafields.globals.marine_spec_sp_image %}
    {% assign material_graph = shop.metafields.globals.marine_spec_sp_material_graph %}
    {% assign material_name = shop.metafields.globals.marine_spec_sp_material_name %}
    {% assign material_description = shop.metafields.globals.marine_spec_sp_material_description %}
  {% elsif product.tags contains 'marinespec-bp' %}
    {% assign spec_image = shop.metafields.globals.marine_spec_bp_image %}
    {% assign material_graph = shop.metafields.globals.marine_spec_bp_material_graph %}
    {% assign material_name = shop.metafields.globals.marine_spec_bp_material_name %}
    {% assign material_description = shop.metafields.globals.marine_spec_bp_material_description %}
  {% elsif product.tags contains 'milspec65' %}
    {% assign spec_image = shop.metafields.globals.mil_spec_65_image %}
    {% assign material_graph = shop.metafields.globals.mil_spec_65_material_graph %}
    {% assign material_name = shop.metafields.globals.mil_spec_65_material_name %}
    {% assign material_description = shop.metafields.globals.mil_spec_65_material_description %}
  {% endif %}
{% endif %}

{% if spec_image or material_name or material_graph or material_description %}
  <div class='material-details-section shopify-section container'>
    <div class='material-details-content'>
      {% if spec_image %}
        <div class='material-image'>
          {% assign image_object = spec_image[0] %}
          {% capture sizes %}(min-width: 1100px) 100vw, (min-width: 750px) 50vw{% endcapture %}
          {% assign preload = true %}
          {% if section.index > 2 %}
            {% assign preload = false %}
          {% endif %}
          {% render 'image',
            image: image_object,
            sizes: sizes,
            widths: '600, 900, 1100, 1440, 2180',
            preload: preload,
            alt: product.title
          %}
        </div>
      {% endif %}

      <div class='material-text'>
        {{ material_name }}

        <h4 class='material-product-name'>{{ product.title }}</h4>

        {% if material_graph %}
          <div class='material-secondary-image'>
            {% assign graph_object = material_graph[0] %}
            {% capture sizes %}(min-width: 1100px) 100vw, (min-width: 750px) 50vw{% endcapture %}
            {% assign preload = true %}
            {% if section.index > 2 %}
              {% assign preload = false %}
            {% endif %}
            {% render 'image',
              image: graph_object,
              sizes: sizes,
              widths: '600, 900, 1100, 1440, 2180',
              preload: preload,
              alt: 'Material Graph'
            %}
          </div>
        {% endif %}

        {{ material_description }}
      </div>
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Material Details Section",
  "enabled_on": {
    "templates": ["product"]
  },
  "presets": [
    {
      "name": "Material Details Section",
      "category": "Custom"
    }
  ]
}
{% endschema %}
