<div class='px-pagemargin 2xl:container mt-[26px] lg:mt-[22.5px]'>
  <h2 class='h4 mb-[10px] lg:mb-[24px] border-t border-t-line-break pt-[21px]'>{{ section.settings.title }}</h2>

  <div class='rte'>
    {{ section.settings.custom_liquid }}
  </div>
</div>

{% schema %}
{
  "name": "Custom Liquid",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "custom_liquid",
      "label": "Custom Liquid"
    }
  ],
  "presets": [
    {
      "name": "Custom Liquid",
      "category": "Custom"
    }
  ],
  "enabled_on": {
    "templates": ["product"]
  }
}
{% endschema %}
